<div
  class="my-[40px] flex flex-col md:my-[60px] md:flex-row lg:my-[125px] lg:flex-row lg:item-center px-2 md:px-14 lg:px-24">

  <div class="w-full">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 overflow-hidden">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Tài sản
            </th>
            <th scope="col" class="px-6 py-3">
              Giá mới nhất
            </th>
            <th scope="col" class="px-6 py-3">
              Biểu đồ
            </th>
            <th scope="col" class="px-6 py-3">
              Khối lượng 24H
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="isLoading">
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  <div class="w-10 h-10 showloading rounded-full">

                  </div>
                  <span class="ml-3 showloading px-7 py-2.5">
                  </span>
                </div>
              </th>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>

              </td>
              <td class="px-6 py-4">
                <span class="showloading px-7">
                </span>
              </td>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  <div class="w-10 h-10 showloading rounded-full">

                  </div>
                  <span class="ml-3 showloading px-7 py-2.5">
                  </span>
                </div>
              </th>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>

              </td>
              <td class="px-6 py-4">
                <span class="showloading px-7">
                </span>
              </td>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  <div class="w-10 h-10 showloading rounded-full">

                  </div>
                  <span class="ml-3 showloading px-7 py-2.5">
                  </span>
                </div>
              </th>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>

              </td>
              <td class="px-6 py-4">
                <span class="showloading px-7">
                </span>
              </td>
              <td class="px-6 py-4">
                <span class="showloading px-10">
                </span>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="!isLoading">
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let coinList of coinLists">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  <img
                    src="https://attlas-cdn.sgp1.cdn.digitaloceanspaces.com/attlas.io/public/images/coins/128x128/{{ coinList['bi'] }}.png"
                    alt="" class="w-10 h-10">
                  <span class="ml-3">
                    {{ coinList['name'] }}
                  </span>
                </div>
              </th>
              <td class="px-6 py-4 font-medium">
                {{ coinList['p'] | currency }}

              </td>
              <td class="px-6 py-4">
                <img
                  src="https://data.attlas.io/api/v1/chart/sparkline?symbol={{ coinList['b'] }}USDT&broker=ATTLAS_SPOT"
                  alt="">
              </td>
              <td class="px-6 py-4 font-medium">
                {{ coinList['vb'] | currency }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="flex justify-center mt-3">

      <button (click)="onMore()" type="button"
        class="flex justify-center items-center rounded-[6px] transition md:text-base lg:text-lg font-bold text-white h-[44px] md:h-[64px] px-6 md:px-[44px] bg-indigo-600">
        Xem thêm <span class="ml-[8px] mt-[4px]">
        </span>
      </button>

    </div>


  </div>
</div>