<div
  class="mt-[40px] flex flex-col md:mt-[60px] md:flex-row lg:mt-[125px] lg:flex-row lg:item-center px-2 md:px-14 lg:px-24">

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo repellat commodi explicabo excepturi
  cupiditate iusto recusandae labore doloremque sint ea molestiae corrupti impedit, esse harum deserunt qui accusamus
  consequuntur?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo repellat commodi explicabo excepturi
  cupiditate iusto recusandae labore doloremque sint ea molestiae corrupti impedit, esse harum deserunt qui accusamus
  consequuntur?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo repellat commodi explicabo excepturi
  cupiditate iusto recusandae labore doloremque sint ea molestiae corrupti impedit, esse harum deserunt qui accusamus
  consequuntur?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo repellat commodi explicabo excepturi
  cupiditate iusto recusandae labore doloremque sint ea molestiae corrupti impedit, esse harum deserunt qui accusamus
  consequuntur
</div>