<div class="mt-[40px]md:mt-[60px] lg:mt-[125px] px-2 md:px-14 lg:px-24">
  <div class="text-center">
    <h2 class="text-4xl font-semibold">Thông báo</h2>
    <p class="text-md">Cập nhật các tin tức, thông báo mới nhất từ Attlas</p>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 2k:grid-cols-4 gap-6 xl:gap-12 posts my-5">
    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/500x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>

    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/501x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>

    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/502x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>

    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/503x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>

    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/504x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>

    <div class="p-3 rounded-[15px] shadow-posts">
      <article>
        <figure class="overflow-hidden w-full rounded-[15px]">
          <a href="###">
            <img src="https://source.unsplash.com/505x300/?nature" alt="" />
          </a>
        </figure>
        <div class="entry-header m-0 px-1 py-3 font-medium">
          <h2 class="text-xl tracking-wider font-bold">
            <a href="###"> Bài viết mẫu </a>
          </h2>
          <div class="entry-meta">
            <span class="text-sm flex justify-between flex-wrap">
              <div>
                <span class="screen-reader-text">Đăng bởi</span><span class="ml-3 font-bold italic">Admin </span>
              </div>
              <time class="updated"> 01/01/2023 13:37 </time>
            </span>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>