<div class="">
  <div class="flex flex-row md:mt-[60px] md:flex items-center lg:mt-[180px] px-2 md:px-14 lg:px-24">
    <div class="flex-1 md:mt-[80px] lg:mt-0 lg:pl-[0px]">
      <div class="xl:ml-[90px]">
        <div class="flex justify-start">
          <div class="relative">
            <img src="{{ vndcImage }}" alt="vndc"
              class="relative w-auto h-[365px] md:h-[500px] lg:h-[600px] xl:h-[643px] z-[10]" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <div class="text-left lg:max-w-[548px]">
        <div class="font-bold text-2xl mt-[60px] leading-9 text-center md:mt-0 md:text-xl md:text-left lg:text-4xl">
          Tích luỹ - Nhận lãi hàng ngày
        </div>
        <div class="mt-[8px] lg:mt-[16px]">
          <div class="mt-[8px] text-base leading-6 text-black-600 lg:mt-[16px] lg:text-lg">
            <div class="w-[8px] h-[8px] mr-[12px] bg-[#3CCBB1] rounded-full inline-block md:w-[10px] md:h-[10px]"></div>
            Nạp và rút bất kỳ lúc nào
          </div>
        </div>
        <div class="mt-[8px] text-base leading-6 text-black-600 lg:mt-[16px] lg:text-lg">
          <div class="w-[8px] h-[8px] mr-[12px] bg-[#3CCBB1] rounded-full inline-block md:w-[10px] md:h-[10px]"></div>
          Nhận lãi kép không kỳ hạn
        </div>
        <div class="mt-[8px] text-base leading-6 text-black-600 lg:mt-[16px] lg:text-lg">
          <div class="w-[8px] h-[8px] mr-[12px] bg-[#3CCBB1] rounded-full inline-block md:w-[10px] md:h-[10px]"></div>
          Lợi nhuận tích luỹ nhận ngay hàng ngày
        </div>
      </div>
      <div class="transition md:text-gray-600 mt-[40px] items-center cursor-pointer flex flex-row">
        <div class="md:ml-5 md:max-w-[250px] md:text-current lg:max-w-[548px]">
          <div
            class="text-[21px] leading-8 font-bold text-center md:text-left md:text-lg lg:text-lg xl:text-[21px] lg:leading-8">
            Lợi nhuận tích luỹ<br class="md:hidden" /><span class="text-3xl lg:text-4xl">
              12.79%</span>/năm
          </div>
        </div>
      </div>
    </div>
  </div>
</div>