<div class="mt-[60px] flex flex-col items-center justify-center lg:mt-[120px]">
  <div class="text-3xl text-center font-bold whitespace-pre-line md:whitespace-normal lg:text-5xl leading-[56px]">
    Cam kết từ Attlas
  </div>
  <div class="w-[80px] h-[5px] bg-indigo-500 rounded lg:mt-[23px]"></div>
</div>
<div class="attlas-container bg-white">
  <div
    class="mt-[60px] flex flex-col justify-start space-y-[80px] md:mt-[70px] md:flex-row md:space-x-[40px] md:space-y-0 lg:mt-[80px] lg:space-x-[34px] xl:mt-[135px] px-2 lg:px-6  mx-auto gap-5">
    <div class="flex-1 flex flex-col justify-start items-center">
      <div>
        <img src="{{ commitments1Image }}" alt="commitments"
          class="w-[200px] h-[200px] md:w-[150px] md:h-[150px] lg:w-[200px] lg:h-[200px]" />
      </div>
      <div
        class="mt-[27px] text-center text-2xl font-bold whitespace-pre-line md:text-base lg:mt-[43px] lg:text-2xl lg:leading-12 mx-[-22px] xl:mt-[43px] xl:text-3xl w-full">
        Quản lý tài sản an toàn tuyệt đối
      </div>
      <div class="mt-[24px] text-center text-black-600 md:mt-[24px] md:text-tiny lg:mt-[34px] lg:text-base xl:text-lg">
        Ưu tiên cao nhất tại Attlas là lưu trữ an toàn tài sản số của nhà đầu
        tư. Tài sản số tại Attlas được lưu giữ theo cơ chế kết hợp giữa ví lạnh,
        ví nóng và dịch vụ custody tại các đối tác uy tín như Nexo và Binance.
      </div>
    </div>
    <div class="flex-1 flex flex-col justify-start items-center">
      <div>
        <img src="{{ commitments2Image }}" alt="commitments"
          class="w-[200px] h-[200px] md:w-[150px] md:h-[150px] lg:w-[200px] lg:h-[200px]" />
      </div>
      <div
        class="mt-[27px] text-center text-2xl font-bold whitespace-pre-line md:text-base lg:mt-[43px] lg:text-2xl lg:leading-12 mx-[-22px] xl:mt-[43px] xl:text-3xl w-full">
        Hệ thống giao dịch ổn định với độ tin cậy cao
      </div>
      <div class="mt-[24px] text-center text-black-600 md:mt-[24px] md:text-tiny lg:mt-[34px] lg:text-base xl:text-lg">
        Hạ tầng công nghệ cho phép hệ thống khớp lệnh và giao dịch tại Attlas có
        thể xử lý tới 500,000 giao dịch/giây một cách chính xác và ổn định, hoạt
        động liên tục 24/7, trong mọi điều kiện thị trường.
      </div>
    </div>
    <div class="flex-1 flex flex-col justify-start items-center">
      <div>
        <img src="{{ commitments3Image }}" alt="commitments"
          class="w-[200px] h-[200px] md:w-[150px] md:h-[150px] lg:w-[200px] lg:h-[200px]" />
      </div>
      <div
        class="mt-[27px] text-center text-2xl font-bold whitespace-pre-line md:text-base lg:mt-[43px] lg:text-2xl lg:leading-12 mx-[-22px] xl:mt-[43px] xl:text-3xl w-full">
        Bảo mật thông tin ưu tiên hàng đầu
      </div>
      <div class="mt-[24px] text-center text-black-600 md:mt-[24px] md:text-tiny lg:mt-[34px] lg:text-base xl:text-lg">
        Tài khoản của khách hàng được bảo mật tuyệt đối, nhiều lớp với các hệ
        thống 2FA, nhận diện sinh trắc học. Hệ thống bảo mật dựa trên công nghệ
        256-bit socket layers kết hợp với mã hoá dữ liệu người dùng.
      </div>
    </div>
  </div>
</div>