::ng-deep .showloading {
  position: relative;
  background: #ddd;
  overflow: hidden;
  color: transparent;
  pointer-events: none;
}

::ng-deep .showloading:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  left: -100px;
  top: 0;
  background: linear-gradient(to right, transparent, #ffffff70, transparent);
  animation: reflect 800ms ease-out infinite;
}
::ng-deep .showloading::selection {
  color: transparent;
}

@keyframes reflect {
  to {
    left: calc(100% + 100px);
  }
}
