<div class="mt-[60px] flex flex-col items-center justify-center lg:mt-[120px]">
  <div class="text-3xl text-center font-bold whitespace-pre-line md:whitespace-normal lg:text-5xl leading-[56px]">
    Sản phẩm của Attlas
  </div>
  <div class="w-[80px] h-[5px] bg-indigo-500 rounded lg:mt-[23px]"></div>
</div>
<div class="">
  <div class="mt-[16px] over md:hidden">
    <div class="text-center md:max-w-[300px] md:text-left lg:max-w-[548px]">
      <div class="font-bold text-2xl mt-[60px] leading-9 md:text-xl md:mt-0 lg:text-4xl">
        Đầu tư & Giao dịch tài sản số
      </div>
      <div class="mt-[16px] text-base leading-6 text-black-600 lg:mt-[32px] lg:text-lg lg:leading-7">
        Mua bán và quy đổi tiền điện tử mọi lúc, mọi nơi với phí giao dịch cạnh
        tranh nhất trên thị trường.
      </div>
    </div>
    <div class="mt-[40px] bg_logo_attlas-mobile">
      <div class="flex justify-center">
        <div class="relative">
          <img src="/images/home/attlas_futures.png" alt="swap"
            class="relative w-auto h-[365px] md:h-[500px] lg:h-[600px] xl:h-[643px] animate-fade-in z-[10]" />
          <div class="absolute top-[180px] left-[-60%] animate-fade-in-right z-[10] md:top-[250px] lg:top-[320px]">
            <img src="/images/home/attlas_position.png" alt="swap"
              class="w-auto h-[160px] md:h-[200px] lg:h-[250px] xl:h-[300px]" />
          </div>
          <div
            class="absolute transform right-[-70%] rotate-[-10deg] z-[0] hidden md:top-[20px] md:block lg:top-[100px]">
            <img src="/images/home/icon_bg_attlas.png" alt="attlas" class="w-[700px] h-[700px]" />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[35px] space-x-[23px] justify-center flex flex-row">
      <div class="">
        <div
          class="opacity-25 w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_swap.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="opacity-25 w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_spot.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_futures.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[20px] h-[20px] absolute bg-violet opacity-50 rounded-full animate-ping md:w-[30px] md:h-[30px] lg:w-[30px] lg:h-[30px]">
          </div>
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[32px]">
      <div class="text-center md:ml-3 md:max-w-[250px] md:text-left lg:ml-5 lg:max-w-[400px] xl:ml-5 xl:max-w-[548px]">
        <div
          class="text-textLink text-[21px] leading-8 font-bold md:text-[18px] lg:leading-6 lg:text-[21px] lg:leading-8">
          Giao dịch Phái sinh
        </div>
        <div class="text-black-600 mt-4 text-base leading-6 lg:text-lg lg:leading-7 lg:whitespace-pre-line">
          Giao dịch các sản phẩm crypto phái sinh với đòn bẩy lên tới 125x, giúp
          nhà đầu tư tối ưu hoá lợi nhuận trên vốn.
        </div>
      </div>
    </div>
  </div>
  <div class="hidden flex flex-row md:mt-[60px] md:flex lg:mt-[120px]">
    <div class="lg:pt-[0px] xl:pt-[40px]" mt_classname="mt:pt-[35px] bg-[pink]">
      <div class="text-center md:max-w-[300px] md:text-left lg:max-w-[548px]">
        <div class="font-bold text-2xl mt-[60px] leading-9 md:text-xl md:mt-0 lg:text-4xl">
          Đầu tư &amp; Giao dịch tài sản số
        </div>
        <div class="mt-[16px] text-base leading-6 text-black-600 lg:mt-[32px] lg:text-lg lg:leading-7">
          Mua bán và quy đổi tiền điện tử mọi lúc, mọi nơi với phí giao dịch
          cạnh tranh nhất trên thị trường.
        </div>
      </div>
      <div class="transition mt-[48px] cursor-pointer flex flex-row">
        <div
          class="opacity-25 w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_swap.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
        <div
          class="text-center md:ml-3 md:max-w-[250px] md:text-left lg:ml-5 lg:max-w-[400px] xl:ml-5 xl:max-w-[548px]">
          <div
            class="text-black-400 text-[21px] leading-8 font-bold md:text-[18px] lg:leading-6 lg:text-[21px] lg:leading-8">
            Quy đổi nhanh
          </div>
          <div class="text-black-400 mt-4 text-base leading-6 lg:text-lg lg:leading-7 lg:whitespace-pre-line">
            Giao diện mua bán crypto đơn giản, dễ sử dụng dành cho các nhà đầu
            tư mới tham gia thị trường đầu tư tài sản số.
          </div>
        </div>
      </div>
      <div class="transition mt-[32px] cursor-pointer flex flex-row">
        <div
          class="opacity-25 w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_spot.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
        <div
          class="text-center md:ml-3 md:max-w-[250px] md:text-left lg:ml-5 lg:max-w-[400px] xl:ml-5 xl:max-w-[548px]">
          <div
            class="text-black-400 text-[21px] leading-8 font-bold md:text-[18px] lg:leading-6 lg:text-[21px] lg:leading-8">
            Giao dịch Spot
          </div>
          <div class="text-black-400 mt-4 text-base leading-6 lg:text-lg lg:leading-7 lg:whitespace-pre-line">
            Giao diện với đa dạng các công cụ hỗ trợ giao dịch chuyên sâu, phù
            hợp với các trader nhiều kinh nghiệm.
          </div>
        </div>
      </div>
      <div class="transition mt-[32px] cursor-pointer flex flex-row">
        <div
          class="w-[26px] h-[26px] relative rounded-full bg-violet flex items-center justify-center md:w-[34px] md:h-[34px] md:mt-[2px] lg:w-[38px] lg:h-[38px] lg:mt-[4px]">
          <img src="images/home/icon_futures.png" alt="no-icon"
            class="w-[15px] h-[15px] md:w-[16px] md:h-[16px] lg:w-[20px] lg:h-[20px] z-[10]" />
          <div
            class="w-[20px] h-[20px] absolute bg-violet opacity-50 rounded-full animate-ping md:w-[30px] md:h-[30px] lg:w-[30px] lg:h-[30px]">
          </div>
          <div
            class="w-[28px] h-[28px] absolute bg-violet opacity-50 rounded-full md:w-[30px] md:h-[30px] lg:w-[44px] lg:h-[44px]">
          </div>
        </div>
        <div
          class="text-center md:ml-3 md:max-w-[250px] md:text-left lg:ml-5 lg:max-w-[400px] xl:ml-5 xl:max-w-[548px]">
          <div
            class="text-textLink text-[21px] leading-8 font-bold md:text-[18px] lg:leading-6 lg:text-[21px] lg:leading-8">
            Giao dịch Phái sinh
          </div>
          <div class="text-black-600 mt-4 text-base leading-6 lg:text-lg lg:leading-7 lg:whitespace-pre-line">
            Giao dịch các sản phẩm crypto phái sinh với đòn bẩy lên tới 125x,
            giúp nhà đầu tư tối ưu hoá lợi nhuận trên vốn.
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex-1 flex justify-end md:mt-[80px] lg:mt-0 lg:justify-center lg:items-center xl:mr-[0px] xl:justify-end">
      <div class="lg:mr-[-100px] xl:mr-[0px]">
        <div class="flex justify-center">
          <div class="relative">
            <img src="/images/home/attlas_futures.png" alt="swap"
              class="relative w-auto h-[365px] md:h-[500px] lg:h-[600px] xl:h-[643px] animate-fade-in z-[10]" />
            <div class="absolute top-[180px] left-[-60%] animate-fade-in-right z-[10] md:top-[250px] lg:top-[320px]">
              <img src="/images/home/attlas_position.png" alt="swap"
                class="w-auto h-[160px] md:h-[200px] lg:h-[250px] xl:h-[300px]" />
            </div>
            <div
              class="absolute transform right-[-70%] rotate-[-10deg] z-[0] hidden md:top-[20px] md:block lg:top-[100px]">
              <img src="/images/home/icon_bg_attlas.png" alt="attlas" class="w-[700px] h-[700px]" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>