<div class="mt-[40px]md:mt-[60px] lg:mt-[125px] px-2 md:px-14 lg:px-24">
  <div class="text-center my-10">
    <h2 class="text-4xl font-semibold">Quy đổi nhanh</h2>
  </div>

  <div class="w-full max-w-lg mx-auto my-14">
    <div class="bg-gray-100 rounded-lg p-2 md:p-4">
      <label for="" class="text-lg text-gray-500">Bạn trả</label>
      <div class="flex justify-between">
        <div class="w-[55%] md:w-[70%]">
          <input type="text" placeholder="Nhập 10 - 5000"
            class="outline-none w-full h-[60px] text-md md:text-lg font-semibold bg-transparent" />
        </div>
        <div class="flex items-center">
          <p class="mr-2">Tối đa</p>
          <img src="{{ usdtCoin }}" class="w-6 h-6 mr-2" />
          USDT
        </div>
      </div>
    </div>

    <div class="bg-gray-100 rounded-lg p-2 md:p-4 mt-3">
      <label for="" class="text-lg text-gray-500">Bạn nhận</label>
      <div class="flex justify-between">
        <div class="w-[55%] md:w-[70%]">
          <input type="text" placeholder="--"
            class="outline-none w-full h-[60px] text-md md:text-lg font-semibold bg-transparent" />
        </div>
        <div class="flex items-center">
          <img src="{{ btcCoin }}" class="w-6 h-6 mr-2" />
          BTC
        </div>
      </div>
    </div>

    <div class="mt-3 text-xs">
      <span class="text-gray-500">Số dư khả dụng:&nbsp;</span><span class="font-semibold">0.00USDT</span>
    </div>
    <div class="mt-1 text-xs flex items-center">
      <span class="text-black-600">Tỉ giá:
      </span>
      Vui lòng nhập số lượng bạn muốn quy đổi
    </div>
    <div class="mt-8">
      <a href="###" class="bg-indigo-500 p-3 text-white rounded-lg w-full block text-center">Đăng nhập ngay</a>
    </div>
  </div>
</div>