<div class="mt-[60px] flex flex-col items-center justify-center lg:mt-[120px]">
  <div class="text-3xl text-center font-bold whitespace-pre-line md:whitespace-normal lg:text-5xl leading-[56px]">Free
    Crypto </div>
  <div class="w-[80px] h-[5px] bg-indigo-500 rounded lg:mt-[23px]"></div>
  <p class="text-gray-500 text-xl mt-3">Nhiều cơ hội nhận miễn phí Crypto khi sử dụng Attlas

  </p>
</div>

<div class="px-2 lg:px-6">
  <div class="flex justify-evenly gap-5 mt-10">
    <div class="w-1/4 shadow-posts rounded-xl p-5">
      <div class="flex justify-end">
        <div class="w-24 h-2w-24">
          <img src="{{ logInImage }}" class="w-full
          h-full">
        </div>
      </div>

      <div class="text-2xl font-semibold">
        <p>Đăng ký</p>
      </div>

      <div class="mt-3 text-lg">
        <p>Nhận Crypto miễn phí ngay khi mở tài khoản</p>
      </div>
    </div>

    <div class="w-1/4 shadow-posts rounded-xl p-5">
      <div class="flex justify-end">
        <div class="w-24 h-2w-24">
          <img src="{{ ReceiveImage }}" class="w-full
          h-full">
        </div>
      </div>

      <div class="text-2xl font-semibold">
        <p>Đăng ký</p>
      </div>

      <div class="mt-3 text-lg">
        <p>Nhận Crypto miễn phí ngay khi mở tài khoản</p>
      </div>
    </div>

    <div class="w-1/4 shadow-posts rounded-xl p-5">
      <div class="flex justify-end">
        <div class="w-24 h-2w-24">
          <img src="{{ shareImage }}" class="w-full
          h-full">
        </div>
      </div>

      <div class="text-2xl font-semibold">
        <p>Đăng ký</p>
      </div>

      <div class="mt-3 text-lg">
        <p>Nhận Crypto miễn phí ngay khi mở tài khoản</p>
      </div>
    </div>

  </div>
</div>