<div class="mt-[40px] flex flex-col md:mt-[60px] md:flex-row lg:mt-[125px] lg:flex-row lg:item-center px-2 lg:px-5">
  <div class="flex flex-col items-center md:w-[50%] lg:items-start lg:justify-center xl:w-2/3 xl:mb-[200px]">
    <div
      class="text-[#1E2323] text-5xl text-center font-bold leading-[50px] md:text-5xl md:text-left lg:max-w-[440px] lg:text-4xl lg:leading-[50px] lg:animate-fade-in-right xl:max-w-[700px] xl:text-6xl xl:!leading-[80px]">
      Mua Bitcoin và crypto theo cách bạn muốn
    </div>
    <div
      class="mt-4 text-center text-black-500 text-lg leading-[28px] md:mt-8 md:text-left md:max-w-[400px] md:text-lg md:leading-[30px] lg:mt-10 lg:max-w-[450px] lg:text-xl lg:leading-[30px] lg:animate-fade-in lg:whitespace-pre-line xl:max-w-[600px] xl:text-2xl xl:leading-[36px]">
      Dễ dàng, tiện lợi và an toàn nhất. Đăng ký ngay để nắm bắt cơ hội lớn với
      tài sản số cùng Attlas.
    </div>
    <div class="w-full">
      <div class="lg:hidden">
        <a href="#home-download-attlas"><button type="button"
            class="flex justify-center items-center rounded-[6px] transition text-tiny md:text-base lg:text-lg font-bold text-white h-[44px] px-[36.5px] bg-violet hover:bg-btn-hover active:bg-btn-pressed disabled:bg-btn-disabled dark:disabled:bg-btn-disabledDark mt-[40px] w-full">
            Tải ứng dụng
          </button></a>
      </div>
      <div class="mt-[38px] items-center space-x-2 hidden flex flex-row md:mt-[48px] md:space-x-4 lg:mt-[58px] lg:flex">
        <a
          href="https://api.attlas.io/register?redirect=https%3A%2F%2Fattlas.io%2F&amp;referral=&amp;utm_source=web&amp;utm_medium=direct&amp;utm_campaign=attlas.io&amp;utm_content=web_header&amp;mobile_web=false"><button
            type="button"
            class="flex justify-center items-center rounded-[6px] transition md:text-base lg:text-lg font-bold text-white h-[44px] md:h-[64px] md:px-[44px] bg-indigo-600">
            Đăng ký ngay<span class="ml-[8px] mt-[4px]"><svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5254 4.94141L17.5837 9.99971L12.5254 15.058" stroke="white" stroke-width="1.5"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M3.41602 10H17.441" stroke="white" stroke-width="1.5" stroke-miterlimit="10"
                  stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></span></button></a><a href="#home-download-attlas"><button type="button"
            class="flex justify-center items-center rounded-[6px] transition text-tiny md:text-base lg:text-lg font-bold text-violet hover:text-btn-hover active:text-btn-pressed disabled:bg-btn-disabled dark: h-[44px] md:h-[64px] md:px-[44px] bg-white border-[2px] border-violet hover:border-btn-hover active:border-btn-pressed disabled:border-btn-disabled dark:disabled:bg-btn-disabledDark">
            Tải ứng dụng
          </button></a>
      </div>
    </div>
  </div>
  <div class="flex mt-[56px] justify-center md:flex-1 md:mt-0 lg:mt-0">
    <div class="relative">
      <img class="w-auto h-[450px] md:h-[500px] lg:h-[600px] xl:h-[668px] object-cover animate-fade-in-down"
        src="{{ mobileImage }}" alt="attlas-market" />
    </div>
  </div>
</div>