<div
  class="flex flex-wrap justify-between items-between mt-[-32px] relative  md:flex md:flex-row md:justify-between px-2 lg:px-5">
  <div class="w-1/2 flex flex-col items-center justify-center md:w-auto">
    <div class="py-8 flex flex-col md:pl-[0px] lg:py-[96px] lg:mt-[-48px]">
      <span
        class="flex-1 text-left text-[32px] md:text-[28px] lg:font-semibold lg:text-5xl text-indigo-600">450K+</span>
      <div class="flex flex-1 justify-start">
        <div
          class="mt-[10px] text-gray-500  text-medium leading-6 text-left whitespace-pre-line md:mt-4 md:text-base lg:mt-5 lg:text-lg md:leading-7 w-auto">
          Nhà đầu tư đã đăng ký
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/2 flex flex-col items-center justify-center md:w-auto">
    <div class="py-8 flex flex-col md:pl-[0px] lg:py-[96px] lg:mt-[-48px]">
      <span
        class="flex-1 text-left text-[32px] md:text-[28px] lg:font-semibold lg:text-5xl text-indigo-600">450K+</span>
      <div class="flex flex-1 justify-start">
        <div
          class="mt-[10px] text-gray-500  text-medium leading-6 text-left whitespace-pre-line md:mt-4 md:text-base lg:mt-5 lg:text-lg md:leading-7 w-auto">
          khối lượng giao dịch
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/2 flex flex-col items-center justify-center md:w-auto">
    <div class="py-8 flex flex-col md:pl-[0px] lg:py-[96px] lg:mt-[-48px]">
      <span
        class="flex-1 text-left text-[32px] md:text-[28px] lg:font-semibold lg:text-5xl text-indigo-600">450K+</span>
      <div class="flex flex-1 justify-start">
        <div
          class="mt-[10px] text-gray-500  text-medium leading-6 text-left whitespace-pre-line md:mt-4 md:text-base lg:mt-5 lg:text-lg md:leading-7 w-auto">
          Crypto & Tài sản số
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/2 flex flex-col items-center justify-center md:w-auto">
    <div class="py-8 flex flex-col md:pl-[0px] lg:py-[96px] lg:mt-[-48px]">
      <span
        class="flex-1 text-left text-[32px] md:text-[28px] lg:font-semibold lg:text-5xl text-indigo-600">450K+</span>
      <div class="flex flex-1 justify-start">
        <div
          class="mt-[10px] text-gray-500  text-medium leading-6 text-left whitespace-pre-line md:mt-4 md:text-base lg:mt-5 lg:text-lg md:leading-7 w-auto">
          Người dùng hoạt động hàng tháng
        </div>
      </div>
    </div>
  </div>
</div>